{
  "editor.formatOnSave": true,
  "prettier.semi": true,
  "prettier.javascriptEnable": ["javascript", "javascriptreact"],
  "prettier.printWidth": 2,
  "prettier.useTabs": false,
  "prettier.tabWidth": 2,
  "singleQuote": true
}
